
# custom
dist/

/test

# Node
node_modules/
*.log

# Environment
.env

# OS
.directory
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Overrides locais por maquina
*.local.*
